<table class="table">
  <% if @range == '1' %>
    <% if @users.count == 0 %>
      <p>お探しのユーザーは存在しません</p>
    <% else %>
      <h2>Users search for "<%= @word %>"</h2>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |list| %>
          <%= render 'users/list', list: list %>
        <% end %>
      </tbody>
    <% end %>

  <% else %>
    <% if @books.count == 0 %>
      <p>お探しの本は存在しません</p>
    <% else %>
      <h2>Books search for "<%= @word %>"</h2>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |list| %>
          <tr id="post_<%= list.id %>">
            <%= render 'books/post', list: list %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  <% end %>
</table>