<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <label for="name">Name</label>
  <%= f.text_field :name, id:"name" %>

  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <label for="image">Image</label>
  <%= f.attachment_field :profile_image, id:"image" %>

  <label for="introduction">Introduction</label>
  <%= f.text_area :introduction, id:"introduction" %>

  <%= f.submit "変更を保存" %>
<% end %>