<%= render 'users/info', user: @user %>

<div class="col-md-8 offset-md-1">
<h1>Users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |list| %>
      <tr>
        <td><%= attachment_image_tag list, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: "40x40" %></td>
        <td><%= list.name %></td>
        <td>フォロー数:<%= list.followeds.count %></td>
        <td>フォロワー数:<%= list.followers.count %></td>
        <td>
          <% if current_user != list %>
            <% if list.followed_by?(current_user) %>
              <p><%=link_to "フォローを外す", user_relationships_path(list.id), method: :delete %></p>
            <% else %>
              <%=link_to "フォローする", user_relationships_path(list.id), method: :post %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to "Show", user_path(list.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>