<%= render 'users/info', user: @user %>

<div class="col-md-8 offset-md-1">
  <h1>Book detail</h1>
  <table class="table">
    <tbody>
      <tr id="show_<%= @book_data.id %>">
        <%= render 'books/show', {user: @book_data.user, book_data: @book_data} %>
      </tr>
    </tbody>
  </table>

  <div class="com_<%= @book_data.id %>">
    <%= render 'book_comments/comment', book_data: @book_data, book_comment: @book_comment %>
  </div>
</div>